@font-face {
    font-family:OpenSans;
    src:url('../css/OpenSans-Regular.ttf');
}
:root{
    --blue: #09099d;
    --smokewhite: rgba(247,248,253);
    --lightdark: #2d2a38;
    --fontcolor: #7b8397;
    --white: #fff;
    --black: #151221;
    --font1: 'Poppins', OpenSans;
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--font1);
}
* i{
    font-weight: normal;
}
a{
    text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6, p{
    font-weight: normal;
    margin: unset;
}
ul, li{
    list-style-type: none;
    list-style: none;
    margin: unset;
}
body{
    position: relative;
}

/* navbar styles */
.header > .row {
    justify-content: space-between;
    margin: 0 auto;
}
.header > .row > .navbar-brand{
    margin: 0;
    padding: 0;
    font-size: .8rem;
}
.header > .row > .menu{
    margin: 0;
    font-size: 1.2rem;
}


/* end of navbar styles */

.container-fluid{
    padding: 0;
}

.section1 {
    margin-bottom: 6pc;
}
.section1 .row {
    align-items: center;
}
.section1 .row h2 {
    text-transform: capitalize;    
}

.section1 a {
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    align-items: center;
    padding: 0.8rem 3.5rem;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 14px;
    justify-content: center;
    transition: .6s ease-in-out;
}
.section1 a > div h5{
    white-space: nowrap;
    font-size: 14px;
}
.section1 a > i{
    margin-left: 5px;
    font-size: 1.1rem;
}


/* section2 styles */
.section2{
    background-color: var(--smokewhite);
}
.section2 .container{
    padding: 4pc 0;
}
.section2 > .row:nth-child(1) {
    text-align: center;
    justify-content: center;
    margin: 0;
}
.section2 > .row:nth-child(1) > div{
    padding: 1.4rem 1.2rem;
    margin: -5.2pc 15px 0 15px;    background-color: var(--blue);
    color: var(--white);
    border-radius: .6rem;
    align-items: center;
}
.section2 > .row:nth-child(1) > div > [class="col-lg-8"]{
   margin:  0 !important;
}
.section2 > .row:nth-child(1) > div:not(:first-child) > div:nth-child(1){
    font-size:1.5rem;
}
.section2 > .row:nth-child(1) > div > div:nth-child(2) h5{
    font-weight: bold;
    text-align: justify;
}
.section2 > .row:nth-child(1) > div > div:nth-child(2) p{
    text-align: justify;
    font-size: .9rem;
}
.section2 > .row > div:nth-child(1) > div > [class="icon-compass"]{
    border: 1px solid var(--white);
    padding:1px 3px 2px 3px;
    border-radius: 50%;
    font-size: 1.3rem;
}
.section2 .container .well{
    align-items: center;
    column-gap: 5pc;
    justify-content: center;
    margin: 0 auto;
}
.section2 .container .well > div:first-child{
    text-align: end;
}
.section2 .container .well > div:last-child{
    text-align: justify;
}
.section2 .container .well > div:last-child h5:not(a h5){
    text-transform: uppercase;
    color: var(--blue);
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: .4px;
}
.section2 .container .well > div:last-child h2{
    color: var(--lightdark);
    font-weight: bolder;
    font-size: 1.4rem;
    margin-top: 1.5pc;
}
.section2 .container .well > div:last-child ul li{
    margin: 1pc;
    line-height: 1rem;
    list-style-type: disc;
    color: var(--fontcolor);
}
.section2 .container .well > div:last-child a{
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    align-items: center;
    font-size: 14px;
    padding: 0.8rem 3.5rem;
    text-transform: capitalize;
    border-radius: 5px;
    justify-content: center;
    transition: .6s ease-in-out;
}
.section2 .container .well > div:last-child a > div h5{
    white-space: nowrap;
    font-size: 14px;
}
.section2 .container .well > div:last-child a > i{
    margin-left: 5px;
    font-size: 1.1rem;
}
.section2 .container .well > div:last-child a h5{
    white-space: nowrap;
    font-size: 13px;
}
.section2 .container .well > div:last-child a > div:nth-child(2){
        /* display: none; */
}
.section2 .container .well > div:last-child a:hover > div:nth-child(2){
        display: block;
}
.section2 .container .well > div:last-child a i{
    font-size: 15px;
}
.section2 .container .well > div img{
    width: 400px;
    border-radius: .8rem;
}


/* section 3 */
.section3{
    text-align: center;
    padding: 4pc 0;
}
.section3 .row{
    margin: 0 auto;
    justify-content: space-evenly;
}
.section3 .row > div > div:nth-child(1){
    border: 1px dashed var(--blue);
    padding: 0.4rem 0.1rem;
    border-radius: 1rem;
}
.section3 .row > div > div:nth-child(1) h6{
    color: var(--white);
    background-color: var(--blue);
    padding: 1rem;
    border-radius: 0.9rem;
    background-color: var(--blue);
    margin: 0 auto;
    font-weight: bold;
}
.section3 .row > div > div:nth-child(2) h4{
    font-size: 17px;
    font-weight: bold;
}
.section3 .row > div > div:nth-child(2) p{
    font-size: 14px;
    color: var(--fontcolor);
    margin-top: 1pc;
}


/* section4 */
.section4{
    background-color: var(--blue);
    margin: 0 !important;
    padding: 5pc 0;
    color: var(--white);
}
.section4 > .row {
    align-items: center;
    margin: 0 auto;
    justify-content: space-around;
}
.section4 > .row > .image{
    text-align: end;
}
.section4 > .row > div img{
    width: 380px;
    border-radius: 1.2rem;
}
.section4 > .row > div > h5{
    font-size: 12px;
    text-transform: uppercase;
    color: #bbb;
    word-spacing: 1px;
    letter-spacing: .4px;
    font-weight: bolder;
}
.section4 > .row > div > h2{
    font-size: 1.6rem;
    line-height: 2.3pc;
    font-weight: bolder;
    margin-top: .2pc;
}
.section4 > .row > div > p{
    font-size: .9rem;
    margin-top: .5pc;
}
.section4 .row > div:nth-child(2) > div:not([class="col-2"]){
    margin-top: .6pc;
}
.section4 .row > div:nth-child(2) > div span{
    display: block;
    line-height: 2pc;
}
.section4 > .row > div > a{
    color: var(--blue);
    display: flex;
    background-color: var(--white);
    align-items: center;
    padding: 0.8rem 3.5rem;
    border-radius: 5px;
    justify-content: center;
    margin-top: 1pc;
    transition: .3s ease-in-out;  
}
.section4 > .row > div > a > div h5{
    white-space: nowrap;
    font-size: 14px;
    font-weight: bolder;
}
.section4 > .row > div > a > i{
    margin-left: 5px;
}
/* section5 */

.section5 > div:nth-child(1) h3{
    font-weight: bolder;
}
.section5 > div:nth-child(2){
    justify-content: space-around;
    margin: 4pc 0;
}
.section5 > div:nth-child(2) > div{
    box-shadow: 0px 0px 40px -25px;
    height: 300px;
    padding: 10px;
}
.section5 > div:nth-child(2) > div:not(:nth-child(3)) > i {
    position: absolute;
    color: var(--blue);
    font-size: 1.7rem;
    background-color: var(--white);
    border-radius: 50%;
    padding: 1.5rem 0.6rem;
    top: -6%;
    right: 5%;
    box-shadow: 0 0 25px -16px;
}
.section5 > div:nth-child(2) > div .date{
    margin-top: .5pc;
}
.section5 > div:nth-child(2) > div .date h6{
    font-weight: bolder;
    font-size: 12px;
    color: #adb5bd;
    text-transform: uppercase;
}
.section5 > div:nth-child(2) > div .header{
    margin-top: .4pc;
}
.section5 > div:nth-child(2) > div .header h5{
    font-weight: bolder;
    font-size: 13px;
}
.section5 > div:nth-child(2) > div .footer > div:first-child h6{
    font-size: 13px;
}
.section5 > div:nth-child(2) > div .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1pc;
    color: grey;
}
.section5 > div:nth-child(2) > div .footer > div:nth-child(2) li{
    display: inline-block;
    margin: 0 2px;
    font-size: 14px;
}
.section5 > div:nth-child(2) > div .footer > div:nth-child(2) li span{
    margin-left: 3px;
}
.section5 > div:last-child a{
    display: flex;
    background-color: var(--blue);
    color: var(--white);
    align-items: stretch;
    font-size: 14px;
    padding: 0.8rem 3.5rem;
    text-transform: capitalize;
    border-radius: 5px;
    justify-content: center;
    transition: .6s ease-in-out;
}
.section5 > div:last-child a h6{
    white-space: nowrap;
    font-size: 14px;
}
.section5 > div:last-child a > span{
    margin-left: 5px;
}
.section5 > div:last-child a > span i{
    font-size: 1.1rem;
}









/* tablet screen size */
@media (min-width: 767.5px) and (max-width: 991px){
    .section1 {
        margin-bottom: 0pc;
    }
    .section1 > .row{
        justify-content: center;
    } 
    .section1 > .row > div:first-child{
        text-align:center;
    } 
    .section1 > .row > div{
        margin: 15px 0 !important;
        position: unset;
    }
    .section1 a {
        margin-top: 3pc;
    }
    .section1 > .row > div:last-child{
        margin: 0 !important;
        text-align: center;
    }
    .section2 > .container > .well, .section4 > .row{
        flex-direction: column-reverse;
    }
    .section2 .container .well > div:first-child, .section4 > .row .image {
        text-align: center;
    }
    .section2 > .row:nth-child(1) > div {
        margin: 1pc;
    }




    .section3 .row{
        justify-content: space-between;
        padding: 0;
    }

    .section5 > div:nth-child(2) > div .header h5 {
        font-size: 15px;
    }
    .section5 > div:nth-child(2) {
       justify-content: space-between;
       margin: 1pc 0;
       padding: 0 1rem;
    }
    .section5 > div:nth-child(2) > div {
        margin: 1.5pc 0;
    }

    
    .section5 > div:nth-child(2) > div:not(:nth-child(3)) > i {
        box-shadow: 0 0 35px -16px;
    }

}









/* mobile screen size */
@media (min-width: 320px) and (max-width: 575.98px){
    .section1 {
        margin-bottom: .5pc;
    }
    .section1 .row > div{
        text-align: center;
        margin: 0 auto;
    }
    .section1 a > div h5 {
        font-size: 12px;
    }
    .section1 a > i {
        font-size: .8rem;
    }



    .section2 > .row > div{
        margin: 10px auto !important;
        position: unset;
    }
    .section2 > .row:nth-child(1) > div > div:nth-child(2) p {
        font-size: .8rem;
        margin-top: .4pc;
    }
    .section2 > .row:nth-child(1) > div > div:nth-child(2) h5 {
        font-size: 16px;
        margin-top: 1pc;
    }
    .section2 > .row > div:nth-child(1) > div > [class="icon-compass"] {
        font-size: 1rem;
        padding: 1px 3px 1px 2px;
    }
    .section2 > .row:nth-child(1) > div:not(:first-child) > div:nth-child(1) {
        font-size: 1.3rem;
    }
    .section2 .container .well > div:first-child {
        text-align: end;
        padding: 0;
    }
    .section2 .container .well > div:last-child {
        margin-top: 1.4pc;
    }
    .section2 .container .well > div:last-child h2 {
        margin-top: 1.3pc;
        font-size: 14px;
    }
    .section2 .container .well > div:last-child a{
        font-size: 12px;
    }
    .section2 .container .well > div:last-child ul li, .section2 .container .well > div:last-child a > div h5 {
        font-size: 12px;
    }
    .section2 .container .well > div:last-child ul{
        padding: 0;    
    }
    .section3 {
        padding: 1pc 0;
    }

    .section4 > .row > div > h2 {
        font-size: .8rem;
        line-height: 1.3pc;
        font-weight: bolder;
        margin-top: 1pc;
    }
    .section4 > .row > div > p {
        font-size: 12px;
    }
    .section5 > div:nth-child(2) > div:not(:nth-child(3)) > i {
        box-shadow: 0 0 35px -16px;
    }
    .section5 > div:nth-child(1) h3{
        font-weight: bolder;
        text-transform: capitalize;
    }
    .section5 > div:nth-child(2) {
        justify-content: space-around;
        margin: 1pc 0;
    }
    .section5 > div:nth-child(2) > div{
        height: 270px;
        box-shadow: 0 0 20px -6px #ddd;
        margin: 1.5pc 0;
    }
    .section5 > div:nth-child(2) > div .footer > div:first-child h6, .section5 > div:nth-child(2) > div .footer > div:nth-child(2) li * {
        font-size: 12px;
    }
    .section5 > div:last-child a{
        align-items: center;
        padding: 0.6rem 0.3rem;
    }
    .section5 > div:last-child a h6 {
        font-size: 12px;
    }
    .section5 > div:last-child a > span i {
        font-size: .8rem;
    }
    



}